<!DOCTYPE html>

<head>
  <title>Page not found</title>
    <link rel="icon" href="/img/weather.png" />
</head>

<body>
    <div class="main-content">

        {{>header}}
        {{pageMessage}}
    </div>
        {{>footer}}
</body>

</html>